certifi==2019.9.11
chardet==3.0.4
idna==2.8
Jinja2==2.10.3
lxml==4.4.1
MarkupSafe==1.1.1
prompt-toolkit==1.0.14
Pygments==2.4.2
git+git://github.com/CITGuru/PyInquirer@bb1d0e687bb0fa3c8caa6a26a6dc91f12368db18#egg=PyInquirer
python-dateutil==2.8.0
regex==2019.8.19
requests==2.22.0
six==1.12.0
toml==0.10.0
urllib3==1.25.6
wcwidth==0.1.7
